.retro-theme {
  font-family: 'Press Start 2P', cursive;
  background-color: #282c34;
  color: #61dafb;
  padding: 20px;
  text-align: center;
}

input {
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #61dafb;
  background-color: #282c34;
  color: #61dafb;
}

button {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #20232a;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

p {
  margin: 5px 0;
}
